.forma{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 65vw;
  height: 80vh;
  gap: 1.2rem;
  overflow: scroll;
  overscroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}
.checkout{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 1rem;
  width: 10%;
  height: 15%;
  border: ridge #E90064;
  border-radius: 1.5rem;
  flex: 2;
}
.tituloCar{
  display: flex;
  justify-content: center;
}
.botton1{
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #060047;
  color: white;
  justify-content: center;
}
.all{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.title{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
    padding: 1rem;
}