.forma{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 65vw;
  height: 80vh;
  right: 2rem;
  left: 0;
  bottom: 0;
  top: 10rem;
  gap: 1.2rem;
  scroll-behavior: smooth;
  overflow: scroll;
}
.checkout{ 
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  margin: 2rem 6rem 2rem 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 20%;
  height: 30%;
  border: ridge #E90064;
  border-radius: 1.5rem;
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 70rem;
}
.tituloCar{
  display: flex;
  justify-content: center;
}
.botton1{
  width: 8rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #060047;
  color: white;
  justify-content: center;
}
.all{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.title{
  display: flex;
  position: absolute;
  top: 9rem;
    right: 0;
    left: 65rem;
    padding: 1rem;
}