.forma{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  padding-left: 3.5rem;
  gap: 1rem;
  scroll-behavior: auto;
  max-width: 50%;
  max-height: 50%;
}
.checkout{ 
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin: 2rem 6rem 2rem 2rem;
  padding: 1rem;
  gap: 1rem;
  width: 23%;
  border-color: #E90064;
  border: ridge #E90064;
}
.tituloCar{
  display: flex;
  justify-content: center;
}
.botton1{
  width: 8rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #060047;
  color: white;
  justify-content: center;
}
.all{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  position: absolute;
  bottom: 48rem;
}