
#footerMain{
    display: flex;
    flex-wrap:wrap;
    padding: 1rem;
    gap:1rem;
    font-size: 0.8rem;
    padding-top: 9rem;
}
#footerLogo{
    height:4rem;
    align-self: center;

}
#footerLinks{
    align-self: center;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    gap: 0.25rem;
    flex-direction: column;
}
#footerLinks a{
    text-decoration: none;
    color: #060047;
}
#copyright {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#copyright a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    color: #060047;
    font-size: 0.8rem;
}
@media ( max-width: 700px ){
    #footerLogo{
        display: none;
    }
}
@media ( min-width: 1050px){
    #footerMain{
        padding-top: 0rem;
    }
    
}
@media ( min-width: 1590px){
    #footerMain{
        padding-top: 8rem;
    }
    
}