.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;    
}

.label{
    display: block;
    font-weight: bold;
}

.input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline-color: #060047;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.textarea{
    width: 100%;
    padding: 35px;
    border-radius: 5px;
    border: none;
    outline-color: #060047;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);    
}

.select{
    width: 100%;
    padding:15px;
    border-radius: 5px;
    border: none;
    outline-color: #060047;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);    
}

.button[type="submit"] {
    background-color: #E90064;
    color: white;  
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button[type="submit"] :hover{
    background-color: #060047;
}
