.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vh;
  background-color: #060047;
  color: white;
  border-radius: 1rem;
}
.form input::placeholder{
  opacity: 1;
  color: red;
  background-color: #EFEFEF;
  
}
.form input{
  border-radius: 1rem;
}
