.modelo{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25vw;
  height: 70vh;
  padding: 4rem;
}
.image{
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.nombre{
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.bordecito{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 60%;
}
.caracteristica{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: start;
}
.valor{
  text-align: center;
  font-weight: bolder;
}
.carrito{
  background-color: white;
  font-size: 3rem;
  color:#e90064;
  padding-left: 2rem;
}
#cajita{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  align-items: center;
}