.box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  position: sticky;
  z-index: 1;
  left: 0;
  right: 5rem;
}
.image{
  width: 10rem;
}
.botton1{
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 2rem;
}
@media(max-width: 780px){
  .box{
    flex-direction: column;
    width: 15rem;
    gap: 1rem;
  }
}