.modelo{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25vw;
  height: 65vh;
  padding: 2rem;
}
.image{
  width: 60vw;
  height: 40vh;
  padding-top: 3.5rem;
}
.nombre{
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}
.bordecito{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 60%;
}
.caracteristica{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: start;
}
.valor{
  text-align: center;
  font-weight: bolder;
}
.carrito{
  background-color: white;
  font-size: 3rem;
  color:#e90064;
  padding-left: 2rem;
}
#cajita{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#imgtl{
  display: flex;
  flex-direction: column;
}
.active{
  display: none;
}

@media(max-width: 1300px){
  .bordecito{
    height: 50%;
    width: 97%;
  }
}

@media(max-width: 1040px){
  .modelo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    height: 60%;
    padding: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
    border: ridge #E90064;
  }
  .bordecito{
    display: none;
  }
  .nombre{
    font-size: 0.8rem;
  }
  #imgtl{
    margin: 0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 11rem;
  }
  #cajita{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 1rem;
    
  }
  .caracteristica{
    display: flex;
    flex-direction: row;
    width: 11rem;
    height: 3rem;
    font-size: 0.8rem;
  }
  .carrito{
    font-size: 2rem;
  }
  .image{
    width: 100%;
    height: 100%;
    padding-top: 0rem;
  }
}
@media(max-width: 480px){
  .modelo{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 88%;
    height: 37%;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  
    border: ridge #E90064;
  }
  .bordecito{
    display: none;
  }
  .nombre{
    font-size: 0.8rem;
  }
  #imgtl{
    margin: 0rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 11rem;
  }
  #cajita{
    display: flex;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 1rem;
    
  }
  .caracteristica{
    display: flex;
    flex-direction: row;
    width: 8rem;
    height: 4rem;
    font-size: 0.8rem;
  }
  .carrito{
    font-size: 2rem;
  }
  .image{
    width: 100%;
    height: 100%;
    padding-top: 0rem;
  }
}