.header {
  background-color: white;
  position: static;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
}
.celulares{

}

.celulares :hover {
  transform: scale(1.2);
}
.computadores {

}
.computadores :hover {
  transform: scale(1.2);
}
.consolas {

}
.consolas :hover{
  transform: scale(1.2);
}
.audio{

}
.audio :hover{
  transform: scale(1.2);
}
.logo {
  color: #e90064;
  font-size: 2rem;
}
.carrito {
  color: #e90064;
  font-size: 2rem;
}
.buscar{
    color:#e90064;
    font-size: 1rem;
}